<div *ngIf="!!product; then showDetails else showSpinner"></div>
<ng-template #showDetails>
  <div [ngClass]="'main-container'" >
    <img [ngClass]="'image'" src={{product!.image}} alt={{product!.title}}>
    <div [ngClass]="'info'">
      <h1>{{product!.title}}</h1>
      <h3>${{product!.price}}</h3>
      <span [ngClass]="'description'" >{{product!.description}}</span>
      <shared-product-buttons [product]="product!"></shared-product-buttons>
    </div>
  </div>
</ng-template>
<ng-template #showSpinner>
  <div [ngClass]="'spinner-container'">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
