.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 44px;
  font-weight: bold;
  color: crimson;
  margin-top: 15%;
  margin-bottom: 30px;
  width: fit-content;
}

.subtitle {
  font-size: 32px;
  margin-bottom: 30px;
  width: fit-content;
}
