.main-container {
  display: flex;
  padding: 30px 10%;
}

.image {
  height: 300px;
  width: 300px;
  object-fit: contain;
  margin-right: 30px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: 25% 0;
}

.info {
  display: flex;
  flex-direction: column;
}

.description {
  margin-bottom: 20px;
}

.cart-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
}
