.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 20px 10px;
  height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.image {
  height: 280px;
  object-fit: contain;

  &:hover {
    cursor: pointer;
  }
}

.spacer {
  flex: 1 1 auto;
}
